.searchBoxContainer{
    padding:0 1px 10px;
    text-align: left;
    width: 100%;
    
}
.formInput{
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 12px;
    width: 60%;
    margin-left: 20px;
}
.formLabel{
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    color: black;
}